<div class="rounded-social-buttons">

{%- if site.email -%}
<a title="{{ _locale_string_email }}"
class="social-button email" itemprop="email"
href="mailto:{{ site.email | encode_email }}" target="_blank">
<i class="fa-solid fa-envelope"></i>
</a>
{%- endif -%}

{%- if site.facebook -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'Facebook' }}"
class="social-button facebook" itemprop="sameAs"
href="https://www.facebook.com/{{ site.facebook }}"
target="_blank">
<i class="fa-brands fa-facebook-f"></i>
</a>
{%- endif -%}

{%- if site.github -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'GitHub' }}"
class="social-button github" itemprop="sameAs"
href="https://www.github.com/{{ site.github }}"
target="_blank">
<i class="fa-brands fa-github"></i>
</a>
{%- endif -%}

{%- if site.linkedin -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'LinkedIn' }}"
class="social-button linkedin" itemprop="sameAs"
href="https://www.linkedin.com/in/{{ site.linkedin }}"
target="_blank">
<i class="fa-brands fa-linkedin"></i>
</a>
{%- endif -%}

{%- if site.telegram -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'Telegram' }}"
class="social-button telegram" itemprop="sameAs"
href="https://t.me/{{ site.telegram }}"
target="_blank">
<i class="fa-brands fa-telegram"></i>
</a>
{%- endif -%}

{%- if site.twitter -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'Twitter' }}"
class="social-button twitter" itemprop="sameAs"
href="https://www.twitter.com/{{ site.twitter }}"
target="_blank">
<i class="fa-brands fa-twitter"></i>
</a>
{%- endif -%}
  

{%- if site.whatsapp -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'WhatsApp' }}"
class="social-button whatsapp" itemprop="sameAs"
href="https://wa.me/{{ site.whatsapp }}"
target="_blank">
<i class="fa-brands fa-whatsapp"></i>
</a>
{%- endif -%}

</div>
